<!DOCTYPE html>
<html>
    <head>
        <title>Listes des articles</title>
    </head>
    <body>
        <div class="container">
            {% if liste_titre %}
            <table class="table">
                <tbody>
                    {% for line in liste_titre  %}
                    <tr> 
                        <td>{{ line.title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </body>
</html>